body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 600px; /* Largura máxima do container */
    margin: 0 auto; /* Centraliza horizontalmente */
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.btn {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 200px; /* Largura fixa dos botões */
    margin: 10px 0; /* Espaço entre os botões na vertical */
    text-align: center; /* Centraliza o texto */
}

.delete-btn {
    background-color: #ff0000; /* Fundo vermelho para o botão de deletar */
}

.delete-btn:hover {
    background-color: #c50404; /* Cor do botão ao passar o mouse */
}

.btn-secondary {
    color: #6608A4; /* Cor do texto do botão secundário */
    text-decoration: none; /* Remove o sublinhado */

}

.btn-secondary:hover {
    color: #38005e; /* Cor do texto do botão secundário */
}